<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sdrive.activities"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name"
                 android:icon="@android:drawable/sym_def_app_icon">
        <activity android:name="sdrive.activities.Driving"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sdrive.activities.FirstStart"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="sdrive.activities.PairingMenu"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="sdrive.activities.PairingAwaiting"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="sdrive.activities.PairingJoin"
                  android:label="@string/app_name">
        </activity>
    </application>
</manifest>
